.idea/
.vscode/
**/.env
**/.venv/
**/__pycache__/
**/.pytest_cache/
mobile/.dart_tool/
mobile/build/
mobile/android/local.properties
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
